<turbo-frame id="experience-data">
	<%= link_to "Back", "", data: { 'turbo-frame': 'index-main' }, class: 'btn btn-success', style: "margin-right:700px"  %>

	<div style="color:white">
		<h2>Education</h2>
		<div class="heading">Master of Computer Application:</div>
		<div class="sub-heading">SRGI Jhansi 71% (2020 - 22)</div>
		<div class="heading">Bachelor of Computer Application:</div>
		<div class="sub-heading">Bundelkhand University Jhansi 60% (2016 - 19)</div>
		<div class="heading">Intermediate:</div>
		<div class="sub-heading">St. Marks College Jhansi 64% (2015 - 16)</div>
		<div class="heading">High School:</div>
		<div class="sub-heading">St. Marks College Jhansi 57% (2013 - 14)</div>
	</div>
</turbo-frame>