<turbo-frame id="experience-data">
	<%= link_to "Back", "", data: { 'turbo-frame': 'index-main' } %>
	<div>
		<h2><b>Adware technologies - Ruby on Rails Developer</b></h2>
		<h4>(12/2022 - Present)</h4>
		<ul style="color:white">
			<li>I bring a passion for crafting robust web applications and a solid
				understanding of the Ruby on Rails framework.
			</li>
			<li>My proficiency in designing, implementing, and maintaining web
				solutions, combined with my commitment to clean code
				practices, allows me to contribute effectively to dynamic
				development teams.
			</li>
			<li>
				I am eager to leverage my skilled and knowledge to deliver
				innovative, user-centric solution in a collaborative environment.
			</li>
		</ul>
	</div>

	<div>
		<h2><b>IWCN - Python Developer</b></h2>
		<h4>(08/2022 - 11/2022)</h4>
		<ul style="color:white">
			<li>
				I’ve rapidly familiarized myself with Python’s syntax, libraries
				and best practices.
			</li>
			<li>
				During this time, I’ve contributed to projects ranging from web
				scraping and automation to data analysis and script
				development.
			</li>
			<li>
				I’ve gained proficiency in popular libraries such as BeautifulSoup
				and Selenium for webscraping and automation tasks,as well as
				Pandas and Numpy for data manipulation and analysis.
			</li>
		</ul>
	</div>
</turbo-frame>