<turbo-frame id="experience-data">
	<%= link_to "Back", "", data: { 'turbo-frame': 'index-main' } %>
	
	<h2><b>Adware technologies (Dec,2022-present)</b></h2>
	<span>Software Developer</span>
	<p style="color:white">
		Ruby on Rails developer with one and a half year of hands-on
		experience, I bring a passion for crafting robust web applications
		and a solid understanding of the Ruby on Rails framework. My
		proficiency in designing, implementing, and maintaining web
		solutions, combined with my commitment to clean code practices,
		allows me to contribute effectively to dynamic development teams.
		I am eager to leverage my skills and knowledge to deliver
		innovative, user-centric solutions in a collaborative environment.
	</p>
</turbo-frame>