<turbo-frame id="experience-data" class=experience_data>
  <%= link_to "Back", "", data: { 'turbo-frame': 'index-main' } %>

  <div style="color:white">
    <h2>Projects</h2>
    <div>
      <div class='heading'><h2><b>ReConto Homes (Full-time Project)</b></h2></div>
      <div class="sub-heading">
        <ul class="list-projects">
          <li>
            ReConto Home is a platform aimed at simplifying household
            service management, fostering collaboration between
            households and service providers.</li>
          <li>
            Spearheaded the development of backend functionality using
            Ruby on Rails framework, ensuring efficient data processing and
            storage capabilities.
          </li>
          <li>
            Integrated various APIs to expand platform functionalities,
            enhancing user experience and service offerings
          </li>
          <li>
            Implemented robust security measures to safeguard user data
            and maintain platform integrity.
          </li>
          <li>
            Collaborated closely with cross-functional teams to translate
            business requirements into technical solutions, ensuring
            alignment with project goals and objectives.
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class='heading'><h2><b>Pulse Align (Full-time Project)</b></h2></div>
      <div class="sub-heading">
        <ul class="list-projects">
          <li>
            PulseAlign is a web application designed to facilitate
            communication between therapists and patients. The platform
            serves as a medium for interaction, allowing patients to engage
            with their therapists and vice versa.
          </li>
          <li>
            Implemented backend functionality using Ruby on Rails
            framework to handle data processing and storage.
          </li>
          <li>
            Utilized APIs to integrate additional features and functionalities into the platform.
          </li>
          <li>
            Developed frontend components and interactions using Stimulus.js to
            enhance user experience and interactivity.
          </li>
          <li>
            Ensured the security and integrity of user data through proper implementation of authentication and authorization mechanisms
          </li>
        </ul>
      </div>
    </div>
    <div class="heading"><h2><b>Holisticly (Full-time Project)</b></h2></div>
    <div class="sub-heading">
      <ul class="list-projects">
        <li>
          Developed a Ruby on Rails application allowing users to
          purchase Audible Premium subscriptions directly from
          Holistically without relying on APIs, leveraging web scraping
          techniques and automation with headless Chrome.
        </li>
        <li>
          Collaborated on a comprehensive project involving data
          integration from external APIs
        </li>
        <li>
          Implemented data processing and optimization techniques to
          improve performance.
        </li>
      </ul>
    </div>

    <div class="heading"><h2><b>Chessvia (Full-time Project) - Python Project</b></h2></div>
    <div class="sub-heading">
      <ul class="list-projects">
        <li>
          ChessVia is a Python API project aimed at providing a robust
          platform for chess gaming enthusiasts
        </li>
        <li>
          Implemented RESTful endpoints to enable seamless interaction
          between the platform and users, facilitating various chess game
          functionalities and user interactions.
        </li>
        <li>
          Conducted thorough testing and debugging of API endpoints to
          ensure reliability, scalability, and optimal performance,
          addressing any issues promptly to maintain platform stability.
        </li>
        <li>
          Integrated third-party libraries and tools, such as python-chess,
          to enhance the platform's chess game logic and functionality,
          ensuring a rich gaming experience for users.
        </li>
      </ul>
    </div>

    <div class="heading"><h2><b>Brandgelist (Full-time Project)</b></h2></div>
    <div class="sub-heading">
      <ul class="list-projects">
        <li>
          Spearheaded the development and customization of the Brandgelist platform, a Share-tribe marketplace for brand collaborations and partnerships
        </li>
        <li>
          Collaborated with cross-functional teams, including designers 
          and front-end developers, to implement custom features and
          enhancements.
        </li>
      </ul>
    </div>

    <div class="heading"><h2><b>Index Checker (Full-time Project) - Python Project</b></h2></div>
    <div class="sub-heading">
      <ul class="list-projects">
        <li>
          Index Checker is a Python project focused on web scraping data
          from Google's index pages to provide valuable insights on
          search items.
        </li>
        <li>
          Led the development of the Index Checker project, leveraging
          Python's BeautifulSoup and requests libraries to perform web
          scraping of Google's index pages efficiently and accurately.
        </li>
        <li>
          Conducted extensive testing and validation of web scraping
          functionalities to ensure the reliability and accuracy of the
          extracted data, addressing any issues or discrepancies promptly
          to maintain data integrity. addressing any issues promptly to
          maintain platform stability.
        </li>
      </ul>
    </div>
  </div>
</turbo-frame>