<turbo-frame id="experience-data">
  <%= link_to "Back", "", data: { 'turbo-frame': 'index-main' } %>

  <div style="color:white">
    <h2>Projects</h2>
    <div>
      <div class='heading'>Pulse Align (Full-time Project)</div>
      <div class="sub-heading">
        <ul class="list-projects">
          <li>PulseAlign is a web application designed to facilitate communication between therapists and patients.</li>
          <li>The platform serves as a medium for interaction, allowing patients to engage with their therapists and vice versa.</li>
          <li>Implemented backend functionality using Ruby on Rails framework to handle data processing and storage.</li>
          <li>Utilized APIs to integrate additional features and functionalities into the platform.</li>
          <li>Developed frontend components and interactions using Stimulus.js to enhance user experience and interactivity.</li>
          <li>Ensured the security and integrity of user data through proper implementation of authentication and authorization mechanisms</li>
        </ul>
      </div>
    </div>
    <div class="heading">Holisticly (Full-time Project)</div>
    <div class="sub-heading">
      <ul class="list-projects">
        <li>
          Collaborated on a comprehensive project involving data integration from external APIs.
        </li>
        <li>
          Implemented data processing and optimization techniques to improve performance.
        </li>
      </ul>
    </div>
    <div class="heading">Brandgelist (Full-time Project)</div>
    <div class="sub-heading">
      <ul class="list-projects">
        <li>
          Spearheaded the development and customization of the Brandgelist platform, a Share-tribe marketplace for brand collaborations and partnerships
        </li>
        <li>
          Collaborated with cross-functional teams, including designers 
          and front-end developers, to implement custom features and
          enhancements.
        </li>
      </ul>
    </div>
  </div>
</turbo-frame>