<turbo-frame id="experience-data">
	<%= link_to "Back", "", data: { 'turbo-frame': 'index-main' } %>
	<h2>Skills</h2>
	<div style="color: white;">
		<ul>
		  <li>Ruby</li>
		  <li>Rails</li>
		  <li>JavaScript</li>
		  <li>Html</li>
		  <li>Css</li>
		  <li>Selenium</li>
		  <li>Rspec</li>
		  <li>Git</li>
		  <li>Sidekiq</li>
		  <li>JQuery</li>
		  <li>Postgres</li>
		  <li>SQL</li>
		</ul>  
	</div>
</turbo-frame>